@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,800&display=swap");

$primary-color: #505887;
$secondary-color: #f0f0f0;
$light-gray: #eceff7;
$bright-gray: #7c8db5;
$dark-blue: #25396f;
$light-red: #ff6e91;
$analogue-blue: #7987a5;
$light-blue: #51459e;
$deep-blue: #3734a9;
$light-green: #84e8f4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Sofia Pro Semi";
  font-size: 16px;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

.container {
  // max-width: auto;
  // margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// scrollbar
::-webkit-scrollbar {
  display: none;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
}

.space-area {
  max-width: 200px;
  width: 100%;
  // margin: auto;
  .used-space {
    font-family: "DM Sans", sans-serif;
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;

    span:first-child {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    .progress-line {
      width: 100%;
      height: 8px;
      background: $light-gray;
      border-radius: 35px;
      margin-top: 13px;
      margin-bottom: 30px;

      .progress-line-red {
        width: 70%;
        height: 100%;
        background: $light-red;
        border-radius: 35px;
      }
    }
  }

  .add-more {
    width: 100%;
    padding: 17px 20px;
    background: $light-blue;
    border-radius: 12px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

.section-title {
  font-family: "Sofia Pro";
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
  margin-bottom: 20px;
}

// similar files
.files-area {
  width: 100%;
  .files {
    display: flex;
    flex-direction: column;
    gap: 17px;
    .file {
      display: flex;
      align-items: center;

      .file-icon {
        width: 44px;
        height: 44px;
      }
      .file-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Sofia Pro";
        font-weight: 400;

        .file-content {
          display: flex;
          flex-direction: column;
          margin-left: 14px;
          .file-title {
            font-size: 13px;
            color: $primary-color;
            margin-bottom: 5px;
          }
          .file-subtitle {
            font-size: 10px;
            color: #718ebf;
          }
        }

        .file-more-info {
          font-size: 12px;
        }
      }
    }
  }
}

/* ============== header style start ============= */
.header {
  width: 100%;
  padding: 18px 0;
  background: #fff;
  border-bottom: 1px solid $secondary-color;

  .header-area {
    font-family: "DM Sans", sans-serif;
    gap: 20px;

    .drawer-bnt {
      position: static;
      background: transparent;
      border: none;
      padding-left: 10px;

      .toggle {
        display: block;
        width: 20px;
        height: 2px;
        background: $primary-color;
        margin-bottom: 4px;
      }
    }

    .filter-area {
      display: none;
      max-width: 714px;
      width: 100%;
      font-size: 15px;
      font-weight: 500;
      gap: 15px;
      margin: 0 30px 0 20px;

      .search-field {
        width: 70%;
        position: relative;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        overflow: hidden;
        padding: 15px 20px;
        display: flex;
        align-items: center;

        .search-icon {
          font-size: 22px;
          color: $dark-blue;
          padding-right: 10px;
          line-height: 1px;
        }

        input {
          width: 100%;
          border-color: transparent;
          color: $bright-gray;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;

          &:focus {
            outline: none;
          }
        }
      }

      .filter-field {
        display: none;
        width: 30%;
        height: 100%;

        .filter {
          width: 100%;
          height: 100%;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          border: 1px solid $secondary-color;
          border-radius: 10px;
          padding: 19px 20px;
          appearance: none;
          cursor: pointer;
          background: transparent;

          &:focus {
            outline: none;
          }
        }
        select.filter {
          background-image: linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position: calc(100% - 20px) calc(1em + 8px),
            calc(100% - 15px) calc(1em + 8px), calc(100% - 2.5em) 0.5em;
          background-size: 5px 5px, 5px 5px, 1px 0;
          background-repeat: no-repeat;
        }
      }
    }

    .user-area {
      gap: 15px;
      position: relative;

      .notification {
        font-size: 20px;
      }

      .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .user-img img {
          border: 1px solid $light-red;
          border-radius: 50%;
        }

        .user-details {
          display: none;
          flex-direction: column;
          justify-content: center;
        }

        .user-details span:first-child {
          font-size: 16px;
          font-family: inherit;
          font-weight: 700;
          color: $dark-blue;
          line-height: 1.4;
        }

        .user-details span:last-child {
          font-size: 13px;
          font-family: inherit;
          font-weight: 400;
          color: $bright-gray;
        }
      }

      .user-dropdown {
        display: none;
        position: absolute;
        top: 110%;
        left: -30%;
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        border: 1px solid $light-gray;
        z-index: 2;

        &::before {
          content: "";
          position: absolute;
          border: 1px solid transparent;
          border-bottom-color: #fff;
          border-width: 11px;
          margin-left: -10px;
          top: -21px;
          right: 10px;
          z-index: 1;
        }

        .settings {
          display: flex;
          align-items: center;
          font-family: inherit;
          font-size: 18px;
          margin-bottom: 12px;
        }

        .settings span:last-child {
          padding-left: 5px;
          font-size: 16px;
          font-family: inherit;
        }

        .logout-btn {
          display: flex;
          align-items: center;
          font-family: inherit;
          font-size: 18px;
          cursor: pointer;

          .btn {
            font-family: inherit;
            font-size: 16px;
            padding-left: 5px;
            border: none;
            background: transparent;
            cursor: pointer;
          }
        }

        &.active {
          display: block;
        }
      }
    }
  }
}
/* ============== header style end ============= */

/* ============== drawer style start ============== */
.drawer {
  width: 270px;
  height: 100vh;
  background-color: #fff;
  left: -280px;
  top: 0;
  position: fixed;
  // padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
  z-index: 99;
  overflow: auto;
  padding-bottom: 30px;

  .logo {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
  }

  .menu {
    display: flex;
    gap: 10px;
    color: $light-blue;
    padding: 10px 20px;
    font-family: "Sofia Pro";
    font-size: 16px;
    font-weight: 500;

    .menu-icon {
      font-size: 20px;
    }

    &:hover {
      background: $light-blue;
      color: $secondary-color;
      border-radius: 5px;
    }
  }

  .space-area {
    margin: auto;
    padding-top: 30px;
  }
}
.show .drawer {
  left: 0;
}

.show .overlay {
  opacity: 1;
  visibility: visible;
}
/* ============== drawer style end ============== */

/* ============== main section style start ============== */
.main .container {
  display: flex;
  flex-direction: column;
}

/* ============== left side bar style start ============== */
.left-part {
  display: none;
  // max-width: 250px;
  width: 100%;
  border-right: 1px solid $secondary-color;
  padding-bottom: 20px;

  .left-part-area {
    // max-width: 190px;
    width: 100%;
    // height: 500px;
    // overflow: auto;
    // margin: 0 auto;

    .top-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding-top: 30px;
    }
    .bottom-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding-top: 100px;
      padding-bottom: 110px;
    }
  }
  // .space-area {
  //   max-width: 185px;
  //   width: 100%;
  //   // margin: auto;
  //   .used-space {
  //     font-family: "DM Sans", sans-serif;
  //     color: $dark-blue;
  //     display: flex;
  //     flex-direction: column;
  //     font-size: 14px;
  //     font-weight: 500;

  //     span:first-child {
  //       font-size: 17px;
  //       font-weight: 600;
  //       margin-bottom: 7px;
  //     }

  //     .progress-line {
  //       width: 100%;
  //       height: 8px;
  //       background: $light-gray;
  //       border-radius: 35px;
  //       margin-top: 13px;
  //       margin-bottom: 60px;

  //       .progress-line-red {
  //         width: 70%;
  //         height: 100%;
  //         background: $light-red;
  //         border-radius: 35px;
  //       }
  //     }
  //   }

  //   .add-more {
  //     width: 100%;
  //     padding: 17px 20px;
  //     background: $light-blue;
  //     border-radius: 12px;
  //     color: #fff;
  //     font-size: 13px;
  //     font-weight: 300;
  //     display: flex;
  //     justify-content: center;
  //     cursor: pointer;
  //   }
  // }

  .menu {
    max-width: 77px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;

    .menu-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      font-size: 24px;
      border-radius: 10px;
      background: $light-gray;
      color: $light-blue;
    }

    .menu-title {
      font-family: "Sofia Pro";
      font-size: 15px;
      font-weight: 500;
      color: $analogue-blue;
      padding-top: 15px;
    }

    &:hover {
      .menu-icon {
        position: relative;
        color: $analogue-blue;
        background: $deep-blue;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          top: -20px;
          right: -20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $light-green;
        }
      }
      .menu-title {
        color: #1c295d;
      }
    }
  }
}
/* ============== left side bar style end ============== */

/* ============== middle part style start =============== */
.middle-content {
  // max-width: 800px;
  width: 100%;
  padding: 30px 0;

  .middle-content-area {
    /* =========== folders style start ============== */
    .folders {
      display: flex;
      align-items: center;
      // justify-content: center;
      gap: 25px;
      // overflow: hidden;
      padding-bottom: 70px;
      // width: 700px;
      overflow: auto;

      .folder {
        max-width: 193px;
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 24px 21px;
        border-radius: 10px;
        flex-shrink: 0;

        .folder-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .folder-footer {
          font-family: "Sofia Pro";
          font-weight: 500;
          .folder-title {
            display: inline-block;
            font-size: 18px;
            margin-bottom: 15px;
          }
          .folder-contains {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .blue-folder {
        background: #f6f5ff;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
            rgba(158, 160, 249, 0.02),
          0px 8.148148536682129px 6.518518447875977px 0px
            rgba(158, 160, 249, 0.03),
          0px 20px 13px 0px rgba(158, 160, 249, 0.04),
          0px 38.51852035522461px 25.481481552124023px 0px
            rgba(158, 160, 249, 0.04),
          0px 64.81481170654297px 46.85185241699219px 0px
            rgba(158, 160, 249, 0.05),
          0px 100px 80px 0px rgba(158, 160, 249, 0.07);
      }
      .green-folder {
        background: #f5fffc;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
            rgba(103, 207, 236, 0.02),
          0px 8.148148536682129px 6.518518447875977px 0px
            rgba(103, 207, 236, 0.03),
          0px 20px 13px 0px rgba(103, 207, 236, 0.04),
          0px 38.51852035522461px 25.481481552124023px 0px
            rgba(103, 207, 236, 0.04),
          0px 64.81481170654297px 46.85185241699219px 0px
            rgba(103, 207, 236, 0.05),
          0px 100px 80px 0px rgba(103, 207, 236, 0.07);
      }
      .yellow-folder {
        background: #fff9f0;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
            rgba(253, 131, 66, 0.01),
          0px 8.148148536682129px 6.518518447875977px 0px
            rgba(253, 131, 66, 0.02),
          0px 20px 13px 0px rgba(253, 131, 66, 0.02),
          0px 38.51852035522461px 25.481481552124023px 0px
            rgba(253, 131, 66, 0.02),
          0px 64.81481170654297px 46.85185241699219px 0px
            rgba(253, 131, 66, 0.03),
          0px 100px 80px 0px rgba(253, 131, 66, 0.04);
      }
      .red-folder {
        background: #fff5f5;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
            rgba(255, 125, 125, 0.02),
          0px 8.148148536682129px 6.518518447875977px 0px
            rgba(255, 125, 125, 0.03),
          0px 20px 13px 0px rgba(255, 125, 125, 0.04),
          0px 38.51852035522461px 25.481481552124023px 0px
            rgba(255, 125, 125, 0.04),
          0px 64.81481170654297px 46.85185241699219px 0px
            rgba(255, 125, 125, 0.05),
          0px 100px 80px 0px rgba(255, 125, 125, 0.07);
      }
    }
    /* =========== folders style end ============== */

    /* =========== quick access style start ============ */
    .quick-access {
      margin-bottom: 60px;
      overflow: auto;
      background: transparent;
      .quick-access-area {
        width: 800px;
        // width: 100%;
        display: flex;
        align-items: center;
        gap: 18px;
        // overflow-x: scroll;

        .access {
          max-width: 226px;
          width: 100%;
          position: relative;
          cursor: pointer;
          overflow: hidden;

          .access-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 15px;
          }

          .access-content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 25px;
            border-radius: 0px 0px 15px 15px;
            background: #f5f5f5;
            position: absolute;
            width: 100%;
            right: 0;
            bottom: 0;

            .access-icon {
              font-size: 22px;
              margin-right: 10px;
            }

            .access-title {
              font-family: "DM Sans", sans-serif;
              font-size: 13px;
              font-weight: 700;
            }
          }
        }
      }
    }
    /* =========== quick access style end ============ */

    /* ============== file container style start =============== */
    .upload-manage {
      // width: 710px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      // gap: 85px;
      gap: 40px;
      // align-items: center;
      // justify-content: space-between;
      // // recently uploaded
      // .recently-uploaded {
      //   width: 100%;
      //   .uploaded-files {
      //     display: flex;
      //     flex-direction: column;
      //     gap: 17px;
      //     .upload-file {
      //       display: flex;
      //       align-items: center;

      //       .upload-img {
      //         width: 44px;
      //         height: 44px;
      //       }
      //       .upload {
      //         width: 100%;
      //         display: flex;
      //         align-items: center;
      //         justify-content: space-between;
      //         font-family: "Sofia Pro";
      //         font-weight: 400;

      //         .upload-file-content {
      //           display: flex;
      //           flex-direction: column;
      //           margin-left: 15px;
      //           .upload-file-title {
      //             font-size: 13px;
      //             color: $primary-color;
      //             margin-bottom: 5px;
      //           }
      //           .upload-file-time {
      //             font-size: 10px;
      //             color: #718ebf;
      //           }
      //         }

      //         .upload-file-size {
      //           font-size: 12px;
      //         }
      //       }
      //     }
      //   }
      // }

      // file-manager
      .file-manager {
        .file-manager-header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .edit-icon {
            font-size: 32px;
            cursor: pointer;
          }
        }

        .file-manager-area {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          // gap: 26px;
          gap: 18px;
          .single-file-manager {
            border-radius: 8.994px;
            background: #ebedfb;
            padding: 16px 14px;
            .file-manager-icon {
              font-size: 17px;
            }
            .file-manager-content {
              display: flex;
              flex-direction: column;
              font-family: "Sofia Pro";
              font-weight: 400;
              margin-top: 10px;
              .file-manager-title {
                font-size: 13px;
                color: black;
                margin-bottom: 6px;
              }
              .file-manager-time {
                font-size: 12px;
                color: #757575;
              }
            }
          }
        }

        .file-manager-btn {
          width: 100%;
          border-radius: 5px;
          background: #dee1e6;
          padding: 20px 30px;
          border: none;
          font-size: 14px;
          font-family: "Sofia Pro";
          font-weight: 400;
          margin-top: 23px;
          color: #51459e;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
    }
    /* ============== file container style end =============== */
  }
}
/* ============== middle part style end =============== */

/* =============== right part style start =============== */
.right-part {
  width: 100%;
  .right-part-area {
    .chart {
      display: block;
      font-family: "Sofia Pro";
      font-weight: 400;
      font-size: 10px;
      padding-bottom: 60px;
      .chart-title {
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        padding-bottom: 60px;
        padding-top: 45px;
      }
      .y-axis {
        display: flex;
        align-items: end;
        .view-items {
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          color: #000;
          opacity: 0.5;
        }

        .bars {
          display: flex;
          align-items: end;
          height: 100%;
          max-width: 300px;
          width: 100%;
          column-gap: 5px;
          padding-left: 10px;
        }
      }

      .x-axis {
        display: flex;
        column-gap: 30px;
        padding-left: 45px;
        margin-top: 15px;
      }
    }
    .files-area {
      .files {
        .file {
          width: 100%;
          .file-icon {
            width: 44px;
            height: 44px;
            border-radius: 10px;
            background: #dee1e6;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .invite-now {
      // display: none;
      width: 100%;
      position: relative;
      margin-top: 15px;
      height: 100%;
      .inner-border {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px dashed #d0c9ff;
        background: #f6f4ff;
        z-index: -1;
        top: 33px;
      }
      .invite-now-area {
        width: 100%;
        background: #51459e;
        border-radius: 10px;
        position: relative;
        left: -45px;
      }
      .invite-content {
        position: absolute;
        top: 0;
        left: -45px;
        padding: 20px;
        font-family: "Sofia Pro";
        font-weight: 400;
        .invite-title {
          // display: none;
          max-width: 170px;
          font-family: inherit;
          font-weight: inherit;
          font-size: 16px;
          color: #dee1e6;
          line-height: 1.4;
          margin-bottom: 10px;
        }
        .invite-now-btn {
          background: $light-green;
          padding: 10px 20px;
          font-family: inherit;
          font-weight: inherit;
          font-size: 14px;
          border-radius: 5px;
          color: #51459e;
          border: none;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
/* =============== right part style end =============== */

/* ============== main section style end ============== */
