@media screen and (min-width: 411px) {
}

@media screen and (min-width: 540px) {
  .container {
    // max-width: 520px;
  }

  // header
  .header {
    .header-area {
      .filter-area {
        display: flex;
        margin: 0;
        .search-field {
          width: 100%;
          padding: 10px 15px;
        }
      }
      .user-area {
        gap: 20px;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .container {
    // max-width: 610px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    // max-width: 750px;
    padding: 0 auto;
  }

  .header {
    .header-area {
      gap: 30px;
      .filter-area {
        .search-field {
          width: 65%;
          padding: 10px 15px;
        }

        .filter-field {
          width: 35%;
          display: block;
          .filter {
            padding: 14.5px 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    // max-width: 1000px;
  }

  .space-area {
    max-width: 150px;
    width: 100%;
    .used-space {
      font-size: 13px;
      span:first-child {
        font-size: 16px;
      }
      .progress-line {
        margin-bottom: 40px;
      }
    }
  }

  .header {
    padding: 27px 0;
    .header-area {
      .drawer-bnt {
        display: none;
      }
      .filter-area {
        margin: 0 30px 0 20px;
      }
      .user-area {
        gap: 30px;

        .user-dropdown {
          left: -20%;
        }
      }
    }
  }

  .left-part {
    display: block;
    max-width: 175px;

    .left-part-area {
      .top-menu {
        row-gap: 20px;
        column-gap: 10px;
      }

      .bottom-menu {
        row-gap: 20px;
        column-gap: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    .menu {
      .menu-icon {
        width: 40px;
        height: 40px;
        font-size: 18px;
      }

      .menu-title {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    // max-width: 1280px;
    padding: 0 20px;
  }

  .header {
    .header-area {
      gap: 60px;
      .logo {
        padding-left: 22px;
      }
      .user-area {
        .user-info {
          .user-details {
            display: flex;
          }
        }

        .user-dropdown {
          left: -8%;
        }
      }
    }
  }

  .space-area {
    max-width: 190px;
    margin: auto;
    padding-right: 10px;
  }
  .left-part {
    max-width: 220px;

    .left-part-area {
      // height: 380px;
      // overflow: auto;
      .bottom-menu {
        gap: 30px;
        padding-top: 60px;
        padding-bottom: 115px;
      }
    }

    .menu {
      .menu-icon {
        width: 50px;
        height: 50px;
        font-size: 20px;
      }

      .menu-title {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .container {
    // max-width: 1350px;
    margin: 0 auto;
  }

  .header {
    .header-area {
      gap: 60px;

      .filter-area {
        .search-field {
          width: 70%;
          padding: 15px 20px;
        }
        .filter-field {
          width: 30%;

          .filter {
            padding: 19px 20px;
          }
        }
      }
    }
  }

  .left-part {
    height: auto;
    max-width: 250px;

    .left-part-area {
      // height: 500px;
      // overflow: auto;
      .top-menu {
        gap: 30px;
      }

      .bottom-menu {
        gap: 30px;
        padding-top: 110px;
        padding-bottom: 110px;
      }
    }

    .menu {
      .menu-icon {
        width: 60px;
        height: 60px;
        font-size: 24px;
        border-radius: 10px;
      }
      &:hover {
        .menu-icon {
          &::before {
            top: -15px;
            right: -15px;
            width: 40px;
            height: 40px;
          }
        }
      }
      .menu-title {
        font-size: 17px;
      }
    }

    .space-area {
      max-width: 210px;
      padding: 0;
      padding-left: 10px;
      margin: 0;
      .used-space {
        font-size: 14px;
        span:first-child {
          font-size: 17px;
        }
        .progress-line {
          margin-bottom: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }

  .left-part {
    // max-width: 251px;
    .left-part-area {
      // max-width: 188px;
      width: 100%;

      .top-menu,
      .bottom-menu {
        gap: 30px;
      }
    }
    .space-area {
      // max-width: 195px;
      width: 100%;
      // margin: auto;
    }
  }
}
